html {
  box-sizing: border-box;
}
html,
body {
  font-family: "Euclid Circular A", sans-serif !important;
  overflow-x:hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/*_______________________________HEADER____________________________________*/

.container {
  max-width: 1160px;
  padding: 0 60px;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding-top: 22px;
  background-color: #cbecff;
}
.language {
  display: flex;
  gap: 7px;
  float: right;
}
.language_button {
  width: 28px;
  height: 26px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #29374e;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  cursor: pointer;
  padding: 5px;
}
.active_language {
  color: #0962e8;
  background: #ffffff;
}

/*_______________________________MAIN____________________________________*/
.main {
  padding-bottom: 90px;
  width: 100%;
  padding-top: 99px;
  background: url("./image/main.png") 85% 0 no-repeat;
  background-color: #cbecff;
  background-size: contain;
}
.sense {
  display: flex;
  flex-direction: column;
}
.sense_title {
  font-family: "Euclid Circular A";
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  color: #29374e;
  display: flex;
  gap: 6px;
}
.sens_title_style {
  display: inline-block;
  letter-spacing: 0.006em;
  background-color: #ffffff;
  padding: 0 20px 0 12px;
  border-radius: 20px;
  text-align: center;
}
.blue {
  color: #0962e8;
}
.sens_text {
  max-width: 324px;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  color: #29374e;
  margin-top: 11px;
  padding-bottom: 38px;
}
.button {
  width: 199px;
  height: 52px;
  background: #0962e8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 197px;
  cursor: pointer;
  transition: 200ms;
}
.button:hover {
  transition: 200ms;
  background-color: #1c70ee;
}

/*_______________________________PRODUCTS____________________________________*/

.products {
  margin-top: -90px;
  display: flex;
  flex-direction: column;
}
.main_card {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.card {
  display: flex;
  width: 241px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 22px 20px 33px 20px;
}
.card_content {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #29374e;
}
.icon_circle {
  width: 39px;
  height: 39px;
  background: #eff9ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_icon {
  font-size: 24px;
}

.container_title {
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  text-align: center;
  color: #29374e;
  margin-top: 115px;
  padding-bottom: 44px;
}
.products__card_container {
  display: flex;
  gap: 20px;
}
.products_card {
  width: 50%;
  display: flex;
  background: #e9f6ff;
  border-radius: 30px;
  padding: 37px 13px 0 20px;
  gap: 10px;
  transition: 200ms;
  padding-right: 20px;
}
.products_card:hover {
  transition: 200ms;
  -webkit-box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 16px -3px rgba(0, 0, 0, 0.2);
}

.products_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.block_text {
  font-weight: 400;
  font-size: 14px;
  margin-top: 12px;
}
.card_image {
  width: 218px;
  height: 291px;
  object-fit: cover;
  filter: drop-shadow(8px -8px 16px rgba(0, 0, 0, 0.06));
}
/*_______________________________PROVIDE____________________________________*/
.provide {
  width: 100%;
  display: flex;
  margin-top: 114px;
  justify-content: space-between;
  padding-bottom: 20px;
}
.provide_title {
  margin: 0;
  text-align: left;
  padding-bottom: 21px;
}
.provide_left {
  display: flex;
  flex-direction: column;
}
.provide_right {
  padding-left: 20px;
  line-height: 140%;
}
.provide_block {
  width: 50%;
}

.container_title {
}

.provide_info {
  width: 405px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin: 0;
  padding-bottom: 37px;
}
.provide_button {
}

.provide_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 65px 0;
  justify-content: space-around;
  margin-top: 10px;
}
.provide_card {
  width: 45%;
  display: flex;
  flex-direction: column;
  
}
.provide_icon_circle {
  width: 39px;
  height: 39px;
  background: #eff9ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.provide_right_color {
  color: #29374e;
  font-weight: 600;
}

.provide_icon {
  font-size: 35px;
}
